body{
    background-color: black;
    text-align: center;
}

h1{
    color: white;
    font: italic 1.2em "Fira Sans", serif;
    font-size: 50pt;
    margin: 5%;
}

#text{
    width: 200px;
    height: 25px;
    margin-top: 5%;
    margin-bottom: 5px;
    border-radius: 10px 10px 0px 0px;
    text-align: center;
}

#bouton{
    width: 210px;
    height: 30px;
    border-radius: 0px 0px 10px 10px;
}

input::placeholder {  
	text-align: center; 
}

img{
    margin-top: 5%;
}

#display_movies{
}

h3{
    color: white;
}

.movie{
    border: solid;
    border-color: white;
    border-radius: 5px;
}

.elt{
    color: white;
}